@model INFT3970Project.Models.LoginModel

@{
    ViewData["Title"] = "Login";
}
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="~/css/Login.css" />
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


@using (Html.BeginForm("LogIn", "Home", FormMethod.Post))
{
    //this needs to be reworked
    @Html.TextBoxFor(model => model.Username)
    @Html.ValidationMessageFor(model => model.Username)
    @Html.TextBoxFor(model => model.Password)
    @Html.ValidationMessageFor(model => model.Password)
    <button type="submit">Log In</button>
}


