@model INFT3970Project.Models.LoginModel

@{
    ViewData["Title"] = "Login";
}
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="container">
    <div class="row">
        <div class="form-group-lg">
            <div class="col-lg-4 col-lg-offset-4">
                @using (Html.BeginForm("LogIn", "Home", FormMethod.Post, new { @class = "form-signin" }))
                {
                    <div class="row-fluid">
                        @Html.TextBoxFor(model => model.Username, new { @class = "form-control", @placeholder = "Username", @style = "padding-top:10px;" })
                        @Html.ValidationMessageFor(model => model.Username)

                        @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @placeholder = "Password", @type = "password", @style = "padding-top:10px;" })
                        @Html.ValidationMessageFor(model => model.Password)

                        @if (Model != null)
                        {
                            if (!Model.SuccessfulLogin)
                            {
                                <label class="alert-danger">Incorrect login</label>
                            }
                        }
                        <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Log In</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>