@model INFT3970Project.Models.UpdatingPasswordModel
@{
    ViewData["Title"] = "Manage Your Account";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<h4>Update Account Password:</h4>
<div class="form-group">
    @using (Html.BeginForm("UpdatePassword", "UpdatePassword", FormMethod.Post, new { @class = "form-group" }))
    {
        <div class="form-group row-fluid">
            @Html.TextBoxFor(model => model.Username, new { @class = "form-control", @placeholder = "Username" })
            @Html.ValidationMessageFor(model => model.Username)
        </div>
        <div class="form-group row-fluid">
            @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @placeholder = "Password", @type = "password" })
            @Html.ValidationMessageFor(model => model.Password)
        </div>
        <div class="form-group row-fluid">
            <button class="btn btn-lg btn-primary" type="submit">Update Password</button>
        </div>
    }
</div>
