@{
    Layout = "~/Views/Shared/_AuthenticatedLayout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">Account Management Options:</div>
    <div class="panel-body">
<<<<<<< HEAD:INFT3970-Project/INFT3970-Project/Views/User/Manage.cshtml
        @Html.ActionLink("Update Password", "UpdatePassword", "User", null, new { @class = "btn btn-default" })
        @Html.ActionLink("Add Sensor", "AddSensor", "User", null, new { @class = "btn btn-default" })
        @Html.ActionLink("Update Personal Details", "UpdateUserDetails", "User", null, new { @class = "btn btn-default" })

=======
        <div class="col-md-1"></div>
        @Html.ActionLink("Update Password", "UpdatePassword", "User", null, new { @class = "btn btn-default col-md-4 col-xs-12" })
        <div class="col-md-2"></div>
        @Html.ActionLink("Add Sensor", "AddSensor", "User", null, new { @class = "btn btn-default col-md-4 col-xs-12" })
        <div class="col-md-1"></div>
>>>>>>> 051ab98cf799c6a6bc938500731a61386d6b2c0a:INFT3970-Project/INFT3970-Project/Views/User/Index.cshtml
    </div>
</div>